﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:247px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
}
#u1 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:116px;
  top:0px;
  width:131px;
  height:33px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:32px;
  width:130px;
  height:33px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
}
#u5 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:116px;
  top:32px;
  width:131px;
  height:33px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:64px;
  width:130px;
  height:33px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:116px;
  top:64px;
  width:131px;
  height:33px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:96px;
  width:130px;
  height:33px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
}
#u13 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:116px;
  top:96px;
  width:131px;
  height:33px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:128px;
  width:130px;
  height:33px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:116px;
  top:128px;
  width:131px;
  height:33px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
