﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:316px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:306px;
  top:1px;
  width:10px;
  height:161px;
}
#u0_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u0_end {
  position:absolute;
  left:-5px;
  top:144px;
  width:20px;
  height:18px;
}
#u0_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:161px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u2 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:180px;
  top:0px;
  width:131px;
  height:33px;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:32px;
  width:180px;
  height:33px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u6 {
  position:absolute;
  left:2px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:180px;
  top:32px;
  width:131px;
  height:33px;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:64px;
  width:180px;
  height:33px;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:180px;
  top:64px;
  width:131px;
  height:33px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:96px;
  width:180px;
  height:33px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u14 {
  position:absolute;
  left:2px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:180px;
  top:96px;
  width:131px;
  height:33px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:128px;
  width:180px;
  height:33px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u18 {
  position:absolute;
  left:2px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:180px;
  top:128px;
  width:131px;
  height:33px;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
