﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:275px;
  top:0px;
  width:10px;
  height:161px;
}
#u0_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u0_end {
  position:absolute;
  left:-5px;
  top:144px;
  width:20px;
  height:18px;
}
#u0_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:161px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
}
#u2 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:139px;
  top:0px;
  width:136px;
  height:33px;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:32px;
  width:140px;
  height:33px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
}
#u6 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:139px;
  top:32px;
  width:136px;
  height:33px;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:64px;
  width:140px;
  height:33px;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:139px;
  top:64px;
  width:136px;
  height:33px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
